<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut, <%=@event_admin.first_name%> !</h1>
    <p>Bonne nouvelle, <%= @user.first_name %> c'est inscrit à ton evenement: <%=@event.title%> qui commencera le: <%=@event.start_date%></p>
  </body>
</html>