<div class="jumbotron jumbotron-img">
  <h1 class="display-4 text-light">Bienvenue !</h1>
  <p class="lead text-light">Viens découvrir les événements de ta ville</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3 class="indigo-text mb-1 text-center text-white">⏬ Les derniers événements ⏬</h3>

</div>