<div class="container text-center p-3">
  <%= link_to  "Tous les users", admin_users_path, :class => "btn btn-primary" %>
  <%= link_to  "Tous les events à valider", admin_events_path, :class => "btn btn-primary" %>
</div>