.jumbotron-img{
  background-image: url('https://cdn.pixabay.com/photo/2018/05/10/11/34/concert-3387324_1280.jpg');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}