<footer class="footer bg-dark text-center text-white">
  <div class="container-fluid pt-4">
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li><%= link_to "Créer un evenement", new_event_path, class: "text-light" %></li>
          <li><a class="text-light" href="rss/">Contact</a></li>
          <li><a class="text-light" href="https://twitter.com/bootswatch">Twitter</a></li>
          <li><a class="text-light" href="https://github.com/thomaspark/bootswatch">GitHub</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>Adapté par <a href="#">Arthur RUDY</a></p>
        <p>Créé par <a href="https://thomaspark.co/">Thomas Park</a></p>
        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a></p>
        <p>Basé sur <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a> Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a> Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a></p>
      </div>
      <div class="col-lg-4">
        <a href="#top" class="text-warning">Retour en haut</a>
      </div>
    </div>
  </div>
</footer>
